<router-outlet></router-outlet>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <nav class="header__banner navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="p-3"><img style="height: 50px; width: 50px;" src="https://cdn-icons-png.flaticon.com/512/6387/6387705.png" alt=""></div>
        <a class="navbar-brand p-0 m-0" href="#"><h2>DeSend</h2></a>
      </div>
    </nav>

    <div class="container display-grid-">
      <div class="row">
        <div class="col p-4">
          <div class="image p-3"><h1>image here</h1><img src="desend-pic/undraw_digital_currency_qpak.png" alt=""></div>
        </div>
        <div class="col p-4">
          <p class="description p-3 display-5 mt-5">
            DeSend is a virtual reality NFT gallery that uses DeSo currency in order to exchange users' NFTs. 
          </p>
          <div class="buttons d-flex justify-content-start mt-4">
            <button type="button" class="btn btn-primary px-4 m-3" style="background-color: #007cff;"><h5>Primary</h5></button>
            <button type="button" class="btn btn-primary px-4 m-3" style="background-color: #007cff;"><h5>Secondary</h5></button>
          </div>
        </div>
      </div>
    </div>
    
    <script src="" async defer></script>
  </body>
</html>